In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import seaborn as sns

In [4]:
df = pd.read_csv('data/train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [5]:
df

      Age  Pclass  SibSp  Parch  Survived
0    22.0       3      1      0         0
1    38.0       1      1      0         1
2    26.0       3      0      0         1
3    35.0       1      1      0         1
4    35.0       3      0      0         0
..    ...     ...    ...    ...       ...
886  27.0       2      0      0         0
887  19.0       1      0      0         1
888   NaN       3      1      2         0
889  26.0       1      0      0         1
890  32.0       3      0      0         0

[891 rows x 5 columns]

In [19]:
df.dropna(inplace=True)

In [20]:
X = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [21]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.6933333333333332

# Applying Feature Construction

In [22]:
#i made fmalliy size convert in Categorical
X['Family_size'] = X['SibSp'] + X['Parch'] + 1

In [23]:
def myfunc(num):
    if num == 1:
        #alone
        return 0
    elif num >1 and num <=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [24]:

myfunc(12)

2

In [25]:
X['Family_type'] = X['Family_size'].apply(myfunc)

In [26]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [27]:
X.drop(columns=['SibSp','Parch','Family_size'],inplace=True)

In [28]:
X.head()

    Age  Pclass  Family_type
0  22.0       3            1
1  38.0       1            1
2  26.0       3            0
3  35.0       1            1
4  35.0       3            0

In [29]:
#X.drop(columns=['SibSp','Parch','Family_size'],inplace=True)

KeyError: "['SibSp', 'Parch', 'Family_size'] not found in axis"

In [30]:

np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.7003174603174602

# Feature Splitting

In [32]:
df = pd.read_csv('data/train.csv')

In [33]:

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S